.four_page {
    display: flex;
    align-items: center;
    color: #000;

}

.img_fr{
    width: 70%;
    height: 68%;
    margin-left: 8%;
}

.fr_title {
    font-family: "Merriweather";

}

.ft_parafraph {
    font-family: "Rubik";

}

.five_page{
    background-color: #222F33;
}

.img_fv {
    background-image: url("/image/logo.svg");
    width: 2rem;
    height: 2rem;
    object-fit: cover;
   
    
}
.fv_text{
    word-spacing: 20px;
}

.fv_item{
    padding-left: 10px;
}
.fv_logo{
    display: flex;
    align-items: center;
}

