:root {
    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --fomt-size-xs: 0.7rem;
}

body {
    font-family: 'Rubik', 'Merriweather';
    color: #FFFFFF;
}

section {
    
    padding:2rem 10%;
    opacity: 0;
}


.container{
    display: flex;
}

@media screen and (max-width: 1024px) {
    
    
}
@media screen and (max-width: 768px){
    body{
        text-align: center;
    }
    .container__section {
        flex-direction: column;
    } 
    
}

@media screen and (max-width: 450px){
    :root{
        font-size: 12px;
    }
    
}

.container__grow {
    flex-grow: 1;
}

.container__center {
    align-items: center;
    justify-content: center;
}
 
.container__column {
    flex-direction: column;
}

.container__row {
    flex-basis: 50%;
    flex-grow:1;
}

.container__space-around{
    justify-content: space-around;
}

.container__self-stretch {
    align-self: stretch;
}

a {
    text-decoration: none;
    color: inherit;
    
}



li {
    display: block;
}

.lock-scroll{
    overflow-y: hidden;
}

@media screen and (max-width: 1100px){
    .container__section-wider {
        flex-direction: column;
    }
}


  
.section__active{
    animation: scroll_anim 1s linear;
    opacity: 1;
}

@keyframes scroll_anim {
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px)

    }
}