section {
    
    padding:2rem 10%;
}

.vertical_padding {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.hero {
    background-image:linear-gradient( rgba(0, 0, 0, 0.541), rgba(0, 0, 0, 0.3) ), url("/image/1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vw;
    
}


.hero__title {
    font-family: 'Merriweather';
    font-size: 30px;
}